<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.df.server.mapper.sys.SysConfigMapper">

    <select id="getConfigValueByKey" resultType="java.lang.String">
        select config_value
        from sys_config
        where config_key = #{configKey,jdbcType=VARCHAR}
    </select>
</mapper>