@font-face {
  font-family: "iconfont"; /* Project id 4423138 */
  src: url('iconfont.woff2?t=1733987053150') format('woff2'),
       url('iconfont.woff?t=1733987053150') format('woff'),
       url('iconfont.ttf?t=1733987053150') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uav:before {
  content: "\e6a0";
}

.icon-wurenji--:before {
  content: "\e61a";
}

.icon-yunshangchuan_o:before {
  content: "\ebb3";
}

.icon-wurenjijichang:before {
  content: "\e80a";
}

.icon-daoru:before {
  content: "\e639";
}

.icon-daochu:before {
  content: "\e63a";
}

.icon-renwuguanli:before {
  content: "\e657";
}

.icon-tianjiazhandian:before {
  content: "\e604";
}

.icon-xinjianjihua:before {
  content: "\e627";
}

.icon-zhongzhi-:before {
  content: "\e648";
}

.icon-tianjiazhuji:before {
  content: "\e60d";
}

.icon-24px:before {
  content: "\e603";
}

.icon-tianjiachengyuan:before {
  content: "\e63e";
}

.icon-chaxunhangxian:before {
  content: "\e6f3";
}

.icon-daoruhangxian1:before {
  content: "\e666";
}

.icon-daoruhangxian:before {
  content: "\e62a";
}

.icon-xinjianhangxian:before {
  content: "\eb08";
}

.icon-xiangshang4:before {
  content: "\e795";
}

.icon-xiangxia4:before {
  content: "\e796";
}

.icon-icon-test:before {
  content: "\e6ba";
}

.icon-icon-test1:before {
  content: "\e6bb";
}

.icon-shezhi:before {
  content: "\e660";
}

.icon-tubiaozhizuomoban:before {
  content: "\e6cd";
}

.icon-tubiaozhizuomoban1:before {
  content: "\e6ce";
}

.icon-tubiaozhizuomoban2:before {
  content: "\e6cf";
}

.icon-minus:before {
  content: "\e7fd";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-icons8-dog:before {
  content: "\e73c";
}

.icon-chongdianzhuangtai:before {
  content: "\e62c";
}

.icon-voltmeter:before {
  content: "\e662";
}

.icon-guzhang-:before {
  content: "\e616";
}

.icon-tiaozhuan:before {
  content: "\e61b";
}

.icon-tongyongtubiao_shuaxinweizhi:before {
  content: "\e665";
}

.icon-wushuju:before {
  content: "\e638";
}

.icon-qiehuanqishang:before {
  content: "\e602";
}

.icon-jiting:before {
  content: "\e63c";
}

.icon-wode:before {
  content: "\e607";
}

.icon-xinhao:before {
  content: "\e697";
}

.icon-jiqiren:before {
  content: "\e601";
}

.icon-wendu:before {
  content: "\e71c";
}

.icon-cebianlanxianshi:before {
  content: "\e618";
}

.icon-cebianlanyincang:before {
  content: "\e619";
}

.icon-electricity-full:before {
  content: "\e996";
}

.icon-jiankongkongzhiguanli:before {
  content: "\e64e";
}

.icon-zanwushuju:before {
  content: "\e6a8";
}

.icon-jiankong-xunjianbaogao:before {
  content: "\e664";
}

.icon-bufen:before {
  content: "\e63f";
}

.icon-icon:before {
  content: "\e653";
}

.icon-baojingxinxi:before {
  content: "\e636";
}

.icon-video-camera-full:before {
  content: "\e962";
}

.icon-marker1:before {
  content: "\e600";
}

.icon-youjiantou:before {
  content: "\e62b";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-gouwuche:before {
  content: "\e643";
}

